@font-face {
  font-family: 'MonoBlock';
  src: url('fonts/MonoBlock-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quince AI';
  src: url('fonts/QuinceAI-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPMMono';
  src: url('fonts/BPMMono_Web_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flock';
  src: url('fonts/Flock-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Netrin';
  src: url('fonts/Netrin-UltracondensedBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Quince AI', 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  background-color: #f9f9f9;
  margin: 0 auto; /* Center body content horizontally */
  padding: 0 0 0 100px;
  width: 60vw;
  max-width: 1080px; /* Default for larger screens */
  text-align: left;
  margin-left: auto; /* Aligns to the left edge */
  margin-right: auto; /* Centers the content horizontally without forcing centering */
}

header h1 {
  font-family: 'MonoBlock', Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 1.2;
  text-align: left;
}

.typeface-links header h2, main h2 {
  font-family: 'MonoBlock', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  color: #000000;
  margin: 0; /* Removes extra space above and below h2 */
  padding: 0; /* Removes inner padding */
}

strong {
  font-family: 'MonoBlock', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

/* Apply oldstyle figures */
.onum {
  font-feature-settings: 'onum' 1;
  font-variant-numeric: oldstyle-nums;
}

/* Link Styling */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #098ba8; /* Example hover color */
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    width: 85vw; /* Increase width for smaller screens */
    padding: 12px; /* Adjust padding for mobile devices */
    text-align: left; /* Maintain left alignment */
    margin-left: auto; /* Aligns to the left edge */
    margin-right: auto; /* Centers the content horizontally without forcing centering */
  }
  
  header h1 {
    font-size: 36px; /* Reduce header size for smaller screens */
    text-align: left;
  }
}

/* Work Section */
.work-section {
  margin-bottom: 32px;
  text-align: center;
}

.work-section h2 {
  font-family: 'MonoBlock', Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 0 auto;
}

.work-section p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 20px; /* Center body content horizontally */
}

/* Rounded Button for Work Page Link */
.work-button {
  display: inline-block;
  font-family: 'MonoBlock', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  border-color: #000000;
  border-style: solid;
  border-width: thin 1px;
  text-decoration: none;
  padding: 8px 8px 4px 8px;
  transition: color 0.3s ease-in-out;
}

.work-button:hover {
  color: #076e88;
}

.section-divider {
  border: none; /* Removes default browser styling */
  border-top: 1px solid #000; /* Sets the thickness and color of the line */
  margin: 20px 0; /* Adds spacing above and below the line */
  width: 100%; /* Ensures the line spans the full width of its container */
}

/* Header Container for Layout */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* About Button Styling */
.about-button {
  display: inline-block;
  font-family: 'MonoBlock', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  border-color: #000000;
  border-style: solid;
  border-width: thin 1px;
  text-decoration: none;
  padding: 8px 8px 4px 8px;
  transition: color 0.3s ease-in-out;
}

.about-button:hover {
  color: #076e88;
}

 /* Editable Container */
.editable-container {
  display: flex;
  flex-direction: column;
  resize: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.editable-box {
  min-height: 120px;
  line-height: 1.2;
  overflow-y: auto;
  width: 100%;
  direction: ltr;
  text-align: center;
  font-family: 'Quince AI', sans-serif; /* Default font */
  font-size: 48px; /* Default font size */
  resize: flex;
  outline: none;
}

.slider-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.font-buttons-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  text-align: center;
  flex-wrap: wrap;
}

.slider {
  appearance: none;
  -webkit-appearance: none; /* Removes default styling on Webkit browsers */
  -moz-appearance: none;
  width: 150px;
  height: 1px;
  background: #000000; /* Background track color */
  accent-color: #000000;
  border-radius: 3px; /* Smooth edges */
  outline: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none; /* Removes default styling on Webkit browsers */
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  background: #000000; /* Background track color */
  accent-color: #000000;
  cursor: pointer;
  appearance: none;
}

.font-button {
  display: inline-block;
  font-family: 'MonoBlock', sans-serif;
  font-size: 18px;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: thin 1px;
  text-decoration: none;
  padding: 8px 8px 4px 8px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.font-button:hover {
  color: #076e88;
}

 /* Audio Player */
audio {
  width: 100%; /* Ensures the player is responsive */
  max-width: 300px; /* Set a maximum width */
  font-family: 'MonoBlock'; /* Your desired font */
  font-size: 14px; /* Adjust the font size */
  color: #000; /* Text color for player labels */
  background-color: #f9f9f9; /* Background color of the player */
  outline: none; /* Remove default focus outline */
}

/* Style audio player buttons */
audio::-webkit-media-controls-panel {
  background-color: #f9f9f9; /* Background for the controls */
  font-family: 'MonoBlock'; /* Custom font */
  font-size: 14px; /* Control font size */
  color: #000; /* Control text color */
  border-radius: 0; /* Optional rounded corners */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button,
audio::-webkit-media-controls-mute-button {
  color: #fff; /* Button text color */
  border-radius: 30%; /* Circular buttons */
}

audio::-webkit-media-controls-timeline {
  height: 2px; /* Timeline height */
  border-radius: 0;
  font-family: 'MonoBlock'; /* Your desired font */
}

/* Hide the playback speed control button */
audio::-webkit-media-controls-playback-rate {
    display: none !important;
    font-family: 'MonoBlock'; /* Your desired font */
  }